{{ define "main" }}
	<main>
		<article>
			<h1>{{ .Title }}</h1>
			<h2> by {{ .Param "author" }} </h2>
			<h3> {{ .WordCount }} Words, estimated {{ .ReadingTime }} minute(s) to read through </h3>
			<time datetime="{{ .Date.Format "2006-01-02T15:04:05" }}">Created on {{ .Date.Format "Monday, Jan 02, 2006" }}</time>
			{{ if .Description }}
			<h2> Description </h2>
			<p> {{ .Description }} </p>
			{{ end }}
			<div>
				{{ .Content }}
			</div>
			{{ with .Params.tags }}
			<div>
				<ul id="tags">
					{{ range . }}
					<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
					{{ end }}
				</ul>
				
			</div>
			{{ end }}
			{{ with .Site.DisqusShortname }}
			<div>
				{{ template "_internal/disqus.html" . }}
			</div>
			{{ end }}
		</article>
	</main>
{{ partial "sidebar.html" . }}
{{ end }}
